# Ignore node_modules directory
/*/node_modules/

# Ignore log files and other unnecessary files
*.log
*.lock
.DS_Store
.env
.env.local

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Visual Studio Code settings
.vscode/

# Ignore IntelliJ IDEA files
.idea/

# Ignore compiled files
*.class
*.war
*.jar
*.ear
*.hprof

# Ignore npm-debug.log
npm-debug.log
